node-red/flows.json
[{"id":"93c1d02e21eced48","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"625b5f39ffb4396e","type":"tab","label":"Kinderzimmer fade-in","disabled":false,"info":"Slowly brighten up the Shelly dimmer in Kinderzimmer\n\nConfiguration\n- Node \"forloop setup\": curve characteristics, step width, step amount\n- msg.payload.event.transition_sec (defined during firing the event)","env":[]},{"id":"e18e49c1.2db3e8","type":"server","name":"Home Assistant","addon":true},{"id":"55b9a5e9cf99a27c","type":"server-events","z":"93c1d02e21eced48","name":"","server":"e18e49c1.2db3e8","version":2,"eventType":"aqara-short-pressed","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":160,"y":880,"wires":[["e9133d94cf7a27f7"]]},{"id":"e9133d94cf7a27f7","type":"debug","z":"93c1d02e21eced48","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.state","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":880,"wires":[]},{"id":"85e59f8bcb0de5c1","type":"api-call-service","z":"93c1d02e21eced48","name":"Select spotify","server":"e18e49c1.2db3e8","version":5,"debugenabled":false,"domain":"media_player","service":"select_source","areaId":[],"deviceId":[],"entityId":["media_player.spotify_spotifykusi"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":160,"wires":[[]]},{"id":"6b9914fdb55a2a61","type":"ha-device","z":"93c1d02e21eced48","name":"asdf","server":"e18e49c1.2db3e8","version":0,"debugenabled":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":0,"deviceType":"trigger","device":"8b9c9effd2696b0c9a31eb31b6a5679b","event":{"platform":"device","type":"changed_states","device_id":"8b9c9effd2696b0c9a31eb31b6a5679b","entity_id":"light.kinderzimmer","domain":"light","metadata":{"secondary":false}},"capabilities":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":540,"wires":[["070cce82e093e570"]]},{"id":"070cce82e093e570","type":"debug","z":"93c1d02e21eced48","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":600,"wires":[]},{"id":"9cdb827ea4143f4b","type":"ha-device","z":"93c1d02e21eced48","name":"Aquara","server":"e18e49c1.2db3e8","version":0,"debugenabled":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"inputs":0,"deviceType":"trigger","device":"2c5023272665028ae1e5892d1515994e","event":{"device_id":"2c5023272665028ae1e5892d1515994e","domain":"zha","platform":"device","type":"remote_button_short_press","subtype":"remote_button_short_press","metadata":{}},"capabilities":[],"outputProperties":[{"property":"payload","propertyType":"msg","value":"ASDASD","valueType":"str"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":300,"wires":[["9a5b5c79bc733af8"]]},{"id":"9a5b5c79bc733af8","type":"debug","z":"93c1d02e21eced48","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":320,"wires":[]},{"id":"c3fe10d0abe71cd7","type":"server-state-changed","z":"93c1d02e21eced48","name":"adsf","server":"e18e49c1.2db3e8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.aqara_mini_switch_badezimmer_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"3","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":100,"wires":[["9a5b5c79bc733af8"],["9a5b5c79bc733af8"]]},{"id":"d55422483d525aff","type":"inject","z":"93c1d02e21eced48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":420,"wires":[["9a5b5c79bc733af8"]]},{"id":"c53491f703d03af4","type":"server-state-changed","z":"93c1d02e21eced48","name":"aquara button pressed","server":"e18e49c1.2db3e8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.aqara_mini_switch_badezimmer_battery","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is_not","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":1120,"wires":[["e9133d94cf7a27f7"]]},{"id":"72c1e0541c13615f","type":"inject","z":"93c1d02e21eced48","name":"ssss","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":1020,"wires":[["e9133d94cf7a27f7"]]},{"id":"587b9f2034632480","type":"server-state-changed","z":"93c1d02e21eced48","name":"","server":"e18e49c1.2db3e8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kinderzimmer","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":1220,"wires":[["e9133d94cf7a27f7"]]},{"id":"00d0f2a38d32f671","type":"api-call-service","z":"93c1d02e21eced48","name":"Kinderzimmer 50","server":"e18e49c1.2db3e8","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kinderzimmer"],"data":"{\"brightness\":\"50\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":1400,"wires":[[]]},{"id":"66f933f2c5be2319","type":"inject","z":"93c1d02e21eced48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1380,"wires":[["00d0f2a38d32f671"]]},{"id":"f7c34ffbe4297e72","type":"api-call-service","z":"93c1d02e21eced48","name":"Kinderzimmer 20","server":"e18e49c1.2db3e8","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kinderzimmer"],"data":"{\"brightness\":\"20\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":1520,"wires":[[]]},{"id":"53a88444bc96a14b","type":"inject","z":"93c1d02e21eced48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1520,"wires":[["f7c34ffbe4297e72"]]},{"id":"0cdce2c824eb3925","type":"api-call-service","z":"93c1d02e21eced48","name":"Kinderzimmer from payload","server":"e18e49c1.2db3e8","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kinderzimmer"],"data":"{\"brightness_pct\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":1640,"wires":[[]]},{"id":"9cc5359d9c02a60a","type":"inject","z":"93c1d02e21eced48","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"json","x":110,"y":1700,"wires":[["0cdce2c824eb3925"]]},{"id":"7b9137271c186b18","type":"loop","z":"625b5f39ffb4396e","name":"fade-in loop","kind":"enum","count":"","initial":"1","step":"1","condition":"","conditionType":"js","when":"before","enumeration":"values","enumerationType":"msg","limit":"","loopPayload":"loop-val","finalPayload":"final-last","x":430,"y":140,"wires":[[],["1c0c9a330f1926ce","7ede3126e76b68df","d0da91a93b9788a4"]]},{"id":"d0da91a93b9788a4","type":"api-call-service","z":"625b5f39ffb4396e","name":"Kinderzimmer from payload","server":"e18e49c1.2db3e8","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.kinderzimmer"],"data":"{\"brightness_pct\":{{payload}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":80,"wires":[[]]},{"id":"35c421f476c26b41","type":"inject","z":"625b5f39ffb4396e","name":"manual trigger","props":[{"p":"payload.event.transition_sec","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":200,"wires":[["bf7180ea58b910f2"]]},{"id":"7ede3126e76b68df","type":"debug","z":"625b5f39ffb4396e","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":180,"wires":[]},{"id":"1c0c9a330f1926ce","type":"delay","z":"625b5f39ffb4396e","name":"","pauseType":"delayv","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":440,"y":280,"wires":[["7b9137271c186b18"]]},{"id":"706660af438fe175","type":"server-events","z":"625b5f39ffb4396e","name":"","server":"e18e49c1.2db3e8","version":2,"eventType":"kinderzimmer-fade-in","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"","x":160,"y":700,"wires":[["bf7180ea58b910f2","15b1ea22098ddb02"]]},{"id":"bf7180ea58b910f2","type":"function","z":"625b5f39ffb4396e","name":"forloop setup","func":"msg.values = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 100]\n// msg.values = [10, 20, 30, 40, 100]\n\n// delay in miliseconds\nmsg.delay = msg.payload.event.transition_sec / msg.values.length * 1000\n// msg.delay = 2000\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":420,"wires":[["7b9137271c186b18","88f6c967c7c92760"]]},{"id":"88f6c967c7c92760","type":"debug","z":"625b5f39ffb4396e","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":380,"wires":[]},{"id":"15b1ea22098ddb02","type":"debug","z":"625b5f39ffb4396e","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":700,"wires":[]}]